.operator {
    // width: 20%;
    flex: 1;
    border-right: 1px solid #f0f0f0;

    .operator-layout {
        display: flex;
    }

    .operate-menus {
        border-right: 1px solid #f0f0f0;
        height: calc(100vh - 56px);
    }

    .menu-item {
        padding: 8px 12px 0px 12px;
        border-bottom: 1px solid #f0f0f0;
        cursor: pointer;
    }
}